extends layout

block content 
    section.content-header.ml-5
        .container-fluid
            .row.mb-1.ml-5
            h1 Subscribe
    .card.m-5
      .card-header
        h3.card-title Subscribe List
      .card-body
        table.table.table-bordered
          thead
            tr
              th(style='width: 50px') #
              th User's email
              th Subscribe's name
              th Payment 
              th Price
              th Created Date
          tbody
            each item in data
              tr
                td=item.subscribeId
                td=item.userEmail
                td=item.subscribeName
                td=item.subscribePayment
                td=item.subscribePrice
                td=item.createdDate.toString().slice(4,15)
            
    