extends layout

block content 
  section.carousel.mt-5
    .container
      #carouselExampleCaptions.carousel.slide(data-ride='carousel')
      ol.carousel-indicators
        li.active(data-target='#carouselExampleCaptions', data-slide-to='0')
        li(data-target='#carouselExampleCaptions', data-slide-to='1')
        li(data-target='#carouselExampleCaptions', data-slide-to='2')
      .carousel-inner
        .carousel-item.active
          img.d-block.w-100(src='/uploads/' + top[0].postImage, alt='...')
          .carousel-caption.d-none.d-md-block
            a(href="/blog/detail/"+ top[0].postId+"", style="color:#f48840; ")
              h5(style='font-weight: bold')=top[0].postName
            p=top[0].postDescription
        .carousel-item
          img.d-block.w-100(src='/uploads/' + top[1].postImage, alt='...')
          .carousel-caption.d-none.d-md-block
            h5=top[1].postName
            p=top[1].postDescription
        .carousel-item
          img.d-block.w-100(src='/uploads/' + top[2].postImage, alt='...')
          .carousel-caption.d-none.d-md-block
            h5=top[1].postName
            p=top[1].postDescription
      button.carousel-control-prev(type='button', data-target='#carouselExampleCaptions', data-slide='prev')
        span.carousel-control-prev-icon(aria-hidden='true')
        span.sr-only Previous
      button.carousel-control-next(type='button', data-target='#carouselExampleCaptions', data-slide='next')
        span.carousel-control-next-icon(aria-hidden='true')
        span.sr-only Next
  section.call-to-action
    .container
      .row
        .col-lg-12
          .main-content
            .row
              .col-lg-8
                span Subscribe
                h4 For more delicious recipes !!!
              .col-lg-4
                .main-button
                  a(href='/subscribe/'+ session.userId target='_parent') Subscribe Now!
  section.blog-posts
    .container
      .row
        .col-lg-8
          .all-blog-posts
            .row
              each item in dataPost
                .col-lg-12
                  .blog-post
                    .blog-thumb
                      img(src='/uploads/'+item.postImage alt='' style='height:600px')
                    .down-content
                      span=item.tagName
                      a(href="/blog/detail/"+ item.postId+"")
                        h4=item.postName
                      ul.post-info
                        li
                          a(href='#') Admin
                        li
                          a=item.createdDate.toString().slice(4,15)
                      p=item.postDescription
                      .post-options
                        .row
                          .col-6
                            ul.post-tags
                              li
                                i.fa.fa-tags
                              li
                                a(href='/category/'+ item.categoryId)=item.categoryName
                          .col-6
                            ul.post-share
                              li
                                i.fa.fa-share-alt
                              li
                                a(href='#') Facebook
                                | ,
                              li
                                a(href='#')  Twitter
              .col-lg-12
                .main-button
                  a(href='/posts') View All Posts
        .col-lg-4
          .sidebar
            .row
              .col-lg-12
                .sidebar-item.search
                  form#search_form( method='POST' action='/search/')
                    .row
                      .col-10
                        input.searchText(type='text' name='input' placeholder='type to search post' autocomplete='on')
                      .col-2                          
                        button.search-button(href='/subscribe/'+ session.userId target='_parent') 
                          i.bi.bi-search 
              .col-lg-12
                  .sidebar-item.recent-posts
                    .sidebar-heading
                      h2 Recent Posts
                    .content
                      ul
                        each item in dataAll
                          li
                            a(href='/blog/detail/' + item.postId)
                              h5=item.postName
                              span=item.createdDate.toString().slice(4,15)
              .col-lg-12
                .sidebar-item.tags
                  .sidebar-heading
                    h2 Categories
                  .content
                    ul
                      each item in dataCate
                        li
                          a(href='/category/'+ item.categoryId)=item.categoryName
              .col-lg-12
                .sidebar-item.tags
                  .sidebar-heading
                    h2 Tag 
                  .content
                    ul
                      each item in dataTag
                        li
                          a(href='/tag/'+ item.tagId)=item.tagName
                      
